@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bluestock-navy text-bluestock-navy;
  font-family: 'Segoe UI', 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
